@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

.aldrich-regular { /* aquesta part del codi fa que Aquesta classe aplica la font “Aldrich” amb estil normal i un gruix de 400 a qualsevol element que la faci servir, en el meu cas ho aplicare a a tota la pagina web*/
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body { /* aquesta part del codi fa que li canvii a tota la pagina la lletra */
  font-family: "Aldrich", sans-serif;
}