table {

border-left: 2px solid #535151;
border-right: 2px solid #535151;
border-top: 2px solid #535151;
border-bottom: 2px solid #535151;
width: 100%;
margin: 0;
}


selectors table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
}

.selectors th, .selectors td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
}

.selectors th {
    
    color: rgb(1, 1, 1);
}

tbody tr:nth-child(odd) {
background-color: #e6e6e6;
}

tbody tr:nth-child(even) {
background-color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

/* Regla 1: el selector universal canvia el tipus de lletra de tot el document */
* {
  font-family: "Aldrich", sans-serif;
}

body { /* regla 2: El margin fa que elimina tot el marge exterior que els navegadors apliquen automaticament. 
  El margin fa que afegeix un "relleno" del 20% als costats  */

    margin: 0; 
    padding: 0 20% 0 20%;
}

h1 { /* Regla numero 3 */
    text-decoration: underline; /* aplica un sutbratllat als h1 */
    color: darkcyan;           /* els sutbrallat l'aplica de color blau darkcyan */
    text-align: center;        /* centra el text horitzontalment */
}

.selector { /* Regla numero 4 */

    color: lightcyan; /* els elements que tinguin el "class" selector es posaràn de color lightcyan */

}

.selectors {  /* Regla numero 5 */
    padding: 5%;                   /* el padding fa que els elements amb la classe selectors tinguin un "relleno" interior d'un 5% en els dos costats que son a sota, adalt, a la dreta i a l'esquerra */
    border: solid darkcyan 1px;    /* aixó fà que el groixor del borde sigui de 1 pixel i sigui del color darkcyan */
    border-radius: 5px;            /* fà que els costats siguin rodons amb un radi de 5pixels */
}

#universal { /*regla numero 6 */
    color: lightgoldenrodyellow; /* Aplica el color lightgoldenrodyellow a tots els elements que tinguin el selector id universal  */
}

h2.selector, h2#universal { /* regla 7 */
    background-color: darkcyan; /* fà que el fondo de tots el h2 tinguin el color de fondo darkcyan */
    padding: 1%;                /* El padding fa que s'afegeixi un relleno interior entre el contingut de l'element i les seves vores */
    border-radius: 5px;         /* fà que els costats siguin rodons amb un radi de 5pixels */
}

span { /* regla 8 */
    font-weight: 900;          /* aplica un groixor  */
    background-color: black;   /* color de fons dels span en color negre */
    color: white;              /*color de les paraules dins del span en color blanc */
}

li > a {  /* regla 9 */

    text-decoration: none; /* treu el sutbratllat dels elements a que siguin fills del li */

 }   

 h3 { /* regla 10 */

    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5%;
    border-radius: 5px;
 }

 #gallery div { /* regla 11 */
    width: 100%; /* fa que tots els div dins de gallery ocupi tota l'amplada disponible */
}

img { /* regla num 12 */
    width: 100%;                /* fa que la imatge ocupi tota la seva amplada en el seu "contenidor" */
    border: solid darkcyan 1px; /* afageix un "borde" solid de color darkcyan */
    border-radius: 5px;         /* fa que el "borde de la imatge sigui de uns 5pixels" */
}



