@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

/* Regla 1: el selector universal canvia el tipus de lletra de tot el document */
* {
  font-family: "Aldrich", sans-serif;
}